@font-face {
    font-family: 'Benzin';
    src: local('Benzin Extra Bold'), local('Benzin-Extra-Bold'),
        url('Benzin-ExtraBold.woff2') format('woff2'),
        url('Benzin-ExtraBold.woff') format('woff'),
        url('Benzin-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }