body {
	background: #343045;
	padding: 50px 84px;
	overflow-x: hidden;
    user-select: none;
    transition: all 1s ease-in-out;
}

body::-webkit-scrollbar { 
  width: 10px;
  background-color: #fff0;
}

body::-webkit-scrollbar-thumb { 
  border-radius: 7px; 
  background-color: #C0B7E8;
}

.main-line-bg-1{ 
	position: absolute;
    z-index: 5;
    width: 722.029px;
    height: 453.323px;
    top: 424px;
    right: 0;
    left: auto;
}
.main-line-bg-2{
	position: absolute;
	z-index: 5;
	width: 735.029px;
	height: 419.323px;
    top: 424px;
    right: 0;
    left: auto;
}
.main-line-bg-3{
    position: absolute;
    z-index: 5;
    top: 0px;
    right: 50px;
    left: auto;
    width: 532px;
    height: 845px;
}	

a {
	cursor: pointer;
}

@media screen and (max-width: 1366px) {
    body {
        background: #343045;
        padding: 25px 20px 89px 20px;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 390px) {
    .main-line-bg-1{
        width: 347px;
        height: 562px;
        top: 100px;
    }
    .main-line-bg-2{
        width: 617px;
        height: 352px;
        top: 237px;
    }
    .main-line-bg-3{
        width: 316px;
        height: 709px;
        top: 43px;
    }
}