.section-contact-form {
	display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

	form {
		border-radius: 100px;
		background: radial-gradient(50% 50% at 50% 50%, #403A5F 0%, #211E2E 100%);
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		padding: 90px 110px 84px 110px;
		display: flex;
	    flex-direction: column;
	    align-content: center;
	    align-items: center;
	    position: relative;
		z-index: 15;

		h3 {
			color: #FFF;
			font-family: Montserrat, sans-serif;
			font-size: 36px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			margin-bottom: 30px;
		}

		.form-line {
			margin-bottom: 21px;
		}

		.form-desc{
			margin-bottom: 65px;
			color: #FFF;
			font-family: Montserrat, sans-serif;
			font-size: 36px;
			font-style: normal;
			font-weight: 300;
			line-height: normal;
		}

		.form-cols {
			display: flex;
			gap: 10px;
		}

		input, textarea {
			border-radius: 40px;
			border: 2px solid #FFF;
			background: #fff0;
			margin-bottom: 39px;
			padding: 27px 42px;
			color: #fff;
		}

		input::placeholder,
		textarea::placeholder {
			color: #FFF;
			font-family: Montserrat, sans-serif;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}

		input:focus {
			background: #00000038;
			transition: all 0.5s ease-in-out;
		}

		textarea:focus {
			background: #00000038;
			transition: all 0.5s ease-in-out;
		}

		.form-button {
			border-radius: 40px;
			background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
			padding: 16px 55px;
			z-index: 15;
			position: relative;

			p{
				color: #343045;
				font-family: Montserrat, sans-serif;
				font-size: 12px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}

			&:hover {
				background: linear-gradient(347deg, #8176AF 0%, #C0B7E8 100%);
				transition: all 0.5s ease-in-out;
				cursor: pointer;
			}
		}
	}
}

@media screen and (max-width: 1080px) {
	.section-contact-form {
		form {
			padding: 60px 30px 60px 30px;
		}
	}
}

@media screen and (max-width: 466px) {
	.section-contact-form {
		form {
			padding: 30px 15px 30px 15px;

			input, textarea {
				margin-bottom: 18px;
    			padding: 13px 17px;
			}

			h3 {
				font-size: 26px;
			}

			.form-desc{
				margin-bottom: 25px;
				font-size: 26px;
			}
		}
	}
}