.section-steps{
	display: flex;
    justify-content: center;
    position: relative;
    gap: 115px;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 112px;

	.section-steps__line-bg {
	    position: absolute;
	    top: 0;
	    right: auto;
	    left: 0;
	    z-index: 5;
	    height: 163px;
	}

	.step-item {
		width: 198px;
		position: relative;
		z-index: 10;

		.circle {
			background: rgba(13, 13, 13, 0.32);
			border-radius: 100px;
			padding: 20px;
			margin-bottom: 5px;

			.circle-inner-gradient {
				width: 159px;
				height: 159px;
				border-radius: 100px;
				background: linear-gradient(251deg, #C0B7E8 12.87%, #8176AF 89.33%);
				display: flex;
				align-content: center;
			    justify-content: center;
			    align-items: center;
			    flex-direction: column;

			    &:hover {
					background: linear-gradient(347deg, #8176AF 0%, #C0B7E8 100%);
					transition: all 1s ease-in-out;
				}

				.num {
					color: #343045;
					font-family: Montserrat;
					font-size: 64px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
				}
			}
		}

		.step-item-text-block {
			display: flex;

			img {
				width: 67px;
				height: 67px;
			}

			h3 {
				color: #FFF;
				font-family: Montserrat;
				font-size: 24px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				margin-top: 20px;
			}
		}
	}
}

@media screen and (max-width: 1205px) {
	.section-steps{
		flex-wrap: wrap;
	    flex-direction: row;
	    justify-content: center;
	    width: auto;
	}
}


@media screen and (max-width: 720px) {
	.section-steps{
		flex-direction: column;
    	align-items: center;
    	gap: 38px;

    	.section-steps__line-bg {
    		display: none; 
    	}
	}
}
