.section-introduction {
	display: flex;
	justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin-bottom: 104px;

	.section-introduction__col2 p{
		color: #FFF;
		font-family: Montserrat, sans-serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	.section-introduction__col1 h2{
		color: #FFF;
		font-family: Montserrat, sans-serif;
		font-size: 36px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}

	.section-introduction__button{
		display: flex;
    	flex-direction: row;
    	align-items: center;
    	gap: 30px;

    	p{
    		color: #FFF;
			font-family: Montserrat, sans-serif;
			font-size: 36px;
			font-style: normal;
			font-weight: 300;
			line-height: normal;
    	}
	}
}

@media screen and (max-width: 1267px) {
	.section-introduction {
		flex-direction: column;

		.section-introduction__col1 {
			h2{
				text-align: center;
				margin-bottom: 20px;
			}
		}

		.section-introduction__col2 {
			p{
				text-align: center;
			}
		}

		.section-introduction__button{
			margin-bottom: 20px;

	    	p{
				font-size: 20px;
	    	}

	    	img {
	    		height: 40px;
	    	}
		}
	}
}