.section-build {
	display: flex;
	justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin-bottom: 104px;

	.section-build__col2 p{
		color: #FFF;
		font-family: Montserrat, sans-serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	.section-build__col1 h2{
		color: #FFF;
		font-family: Montserrat, sans-serif;
		font-size: 36px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}

	.section-build__button{
		display: flex;
    	flex-direction: row;
    	align-items: center;
    	gap: 30px;

    	p{
    		color: #FFF;
			font-family: Montserrat, sans-serif;
			font-size: 36px;
			font-style: normal;
			font-weight: 300;
			line-height: normal;
    	}
	}
}

@media screen and (max-width: 944px) {
	.section-build {
	    flex-direction: column;

	    .section-build__button{
	    	margin-bottom: 30px;

    		p{
    			font-size: 24px;
    		}

    		img {
    			height: 40px;
    		}
    	}

    	.section-build__col1 h2{
    		margin-bottom: 15px;
    	}
	}
}